<mat-drawer-container   autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h2>Головна</h2>
    <h2>Продукти</h2>
    <h2>Замовлення</h2>
    <h2>Клієнти</h2>
    <h2>Налаштування</h2>
  </mat-drawer>
  <mat-toolbar >
   <button mat-icon-button  class="buttonMenu"type="button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span> 
  <span class="example-spacer"></span>
   <button mat-flat-button color="primary"  class="buttonMenu" type="button" (click)="openLoginModal()">Log In</button>
  <button mat-stroked-button color="primary" (click)="openRegisterModal()">Register</button>
</mat-toolbar>
    <app-table class="table" [configure]="configure"></app-table>
</mat-drawer-container>
