<button class="buttonMenu" aria-label="Example icon-button with menu icon"type="button" mat-button (click)="openDialog()">
<mat-icon>add</mat-icon>
</button>
<mat-table [dataSource]='dataSource' class="mat-elevation-z8 table">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <app-name [name]="element.name"></app-name> 
    </mat-cell> 
  </ng-container> 
  <ng-container matColumnDef="sku">
    <mat-header-cell *matHeaderCellDef> SKU </mat-header-cell>
    <mat-cell *matCellDef="let element">
     <app-sku [sku]="element.sku" ></app-sku>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element">
     <app-price [price]="element.price" [discount]="element.discount"></app-price> 
    </mat-cell>
  </ng-container>
   <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <app-country [country]="element.countryCode"></app-country> 
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="tags" >
    <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="openEditCtegories(element)" >
     <app-tags [tags]="element.tags"></app-tags>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <app-action [item]="element"></app-action> 
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<!-- <mat-table [dataSource]='dataSource' class="mat-elevation-z8 table">
 <div  *ngFor="let item of configure; index as i"> 
 <ng-container [matColumnDef]='item.titleColums'>
   <mat-header-cell *matHeaderCellDef> {{item.titleColums| capitalizeFirst }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
     <ng-container *ngComponentOutlet="item.component; content: [element] "></ng-container>
   </mat-cell>
 </ng-container> 
 </div>
 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->
