<div class="container">
   <div class="titleContainer">
    <h2>Вход</h2>
    <h2>Регистрация</h2>
  </div>
<form [formGroup]="formLogin" class="container">
  <mat-form-field  appearance="fill">
    <mat-label>Email</mat-label>
    <input formControlName="login" matInput >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-checkbox formControlName="check" >Запам'ятаи мене</mat-checkbox>
  <button  mat-raised-button class="submitButton">Вход</button>
  </form>
  </div>
